---
title: Home
author: wuhaixing
layout: constant-sidebar
tab: home
---
.page-header
  %h1 
    编程改变数据
    %br
    %small
      去留无意 漫随天外云卷云舒 宠辱不惊 闲看庭前花开花落
:markdown
  超过10年的 __Java软件__ 开发经验.  
  __[量化](/books/metric/)__ , __[Java程序员修炼之道](/books/twgjd/)__ 的译者.


%p.bar
  %a.btn.btn-success{:href=>'/bio/'}
    我的简历 &raquo;
  |
  %a.btn.btn-success{:href=>'/projects/'}
    我的项目 &raquo;
  |
  %a.btn.btn-success{:href=>'/books/'}
    我的作品 &raquo;

%hr

%p.bar
  %a{:href=>'/blog/'}
    %img{:src=>'/images/services/rss_32.png'}
    个人 (技术) 博客
  |
  %a{:href=>'http://weibo.com/u/1668197191'}
    %img{:src=>'/images/services/weibo_32.png', :alt=>'微博'}
  |
  %a{:href=>'http://www.linkedin.com/in/wuhaixing'}
    %img{:src=>'/images/services/linkedin_32.png', :alt=>'LinkedIn'}
  |
  %a{:href=>'mailto:wuhaixing@gmail.com'}
    %img{:src=>'/images/services/email_32.png'}